# OS
.DS_Store

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Node
node_modules/

# Docker
**/*.pid

# Editor
.vscode/
.idea/

# Build output
/dist/
/build/

# DB data
db/data/

# Temporary files
*.tmp
*.swp
# Env
.env
